html {
  
}


body {

}


main {
  width: 80%;
  margin: 0 auto;
  max-width: 400px;
}

h1, figcaption {
  text-align: center;
}

figure {
  width: 80%;
  height: 150px;
}

img {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  height:auto;
}