html {
    font-size: 16px;
    margin: 0;
  }
  main {
    width: 100%;
    margin: 1.125rem auto 0 auto;
  }
 
  /*====header====*/
  .header {
    padding: 0 1.625rem;
    margin-bottom: 1.875rem;
    border: 4px solid rgb(43, 24, 128);
    background-color: rgba(15, 111, 143,0.2);
  }
  
  .text-center{
     text-align: center;
  }

  h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  h1 {
    font-weight: 400;
    line-height: 1.2;
  }
  .description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 2px 2px rgba(240, 6, 6, 0.9);
  }
  p {
    font-size: 1.125rem;
    color: orange;
  }

  
  /*====form====*/
  form {
    background: var(--color-darkblue-alpha);
    padding: 2.5rem 0.625rem;
    border-radius: 0.5rem;
    border: 3px solid pink;
  }
  
  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    border: 3px solid sandybrown;
  }
  
  label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #c3c3c3;
    border-radius: 0.25rem;
    transition: border-color 0.2s ease-in-out, box-shadow 0.85s ease-in-out;
    
  }
  input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
  }

  .input-radio, .input-checkbox {
    display: inline-block;
    margin-right: 1.252rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  
  .input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
  }

  .submit-button {
    display: block;
    width: 100%;
    padding: 0.45rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 5px;
    cursor: pointer;
  }

  button {
    border: none;
}


  /*====media queries=====*/
  @media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
  }


  @media (min-width: 576px) {
    main {
        max-width: 540px;
    }
  }

/*image de fond*/
  body::before {
    content: "🐠";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136,136,2,0.8)),url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }
  *, ::before, ::after {
    box-sizing: border-box;
  }

  /*====root====*/
  :root {
      --color-white: #f3f3f3;
      --color-darkblue: #1b1b32;
      --color-darkblue-alpha: rgba(27,27,50,0.8);
      --color-green: #37af65;
  }
  /*====body====*/
  body {
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4;
      color: var(--color-white);
  }
  
  
