:root {
    --neutral: #232946;
    --base-100: #fffffe;
    --neutral-focus: #121629;
    --primary: #eebbc3;
    --secondary: #b8c1ec;
    --accent: #d4d8f0;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: "Noto serif", "sans-serif";
    text-align: center;
    background-color: var(--neutral);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins",sans-serif;
}



/*=====navbar=====*/
#navbar {
    width: 100%;
    background-color: #521820;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid var(--neutral-focus);
}

.nav-links {
    display: flex;
    list-style:none;
    padding-left: 40px;
}

.nav-link {
    padding: 0 30px;
    text-decoration: none;
    color: var(--base-100);
}
.nav-link:hover {
    text-decoration: underline;
}

/*=====welcome-section=====*/


#welcome-section {
    height: 100vh;
    background-color: var(--neutral);
    color: var(--base-100);
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

#welcome-section h1 {
    margin-top: 40vh;
    font-size: 60px;
}
#welcome-section p {
    color: var(--primary);
    font-size: 25px;
    margin: 10px 0;
    font-style: italic;
}

/*=====project-section=====*/

#projects .allProjects {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 30px;
     place-items:center;
     max-width: 1200px;
     margin: auto;
}

#projects .project-tile {
    height: 525px;
    width: 100%;
    display: flex;
   flex-direction: column;
   place-items: center;
   background-color: var(--neutral);
   color:  var(--accent);
   border-radius: 5px;
   box-shadow: 2px 1px 2px rgba(113, 41, 41, 0.3);
}   


#projects .project-tile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#projects {
    background-color: var(--secondary);
    color: var(--neutral);
    padding: 55px;
}


#projects h1 {
    border-bottom: 5px solid var(--neutral);
    width: fit-content;
    font-size: 25px;
    padding: 0 14px;
    margin: 50px auto;
}
#projects .project-tile p {
    font-size: 25px;
    padding: 14px;
}
#projects a {
    text-decoration: none;
}

#projects .project-tile span {
    opacity: 0%;
    padding: 0 5px;
}
#projects .project-tile:hover span {
    opacity: 100%;
    color: var(--primary);
    transition: opacity 0.45s ease-in;
}



/*=====show all link button====*/

.show-all {
    text-decoration: none;
    width: max-content;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0px 15px;
    background-color: var(--neutral);
    color: var(--accent);
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    margin-top: 60px;
}

.show-all:hover {
    background-color: var(--neutral-focus);
    color: var(--base-100);

}


/*=====contact-section=====*/
#contact-section {
    background-color: var(--neutral);
    color: var(--base-100);
    height: 50vh;
 
}

  
  #contact-section a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--secondary);
  }

  
  #contact-section h1 {
    font-size: 4rem;
    margin-top: 400px;
}

  #contact-section .social-medias {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
    flex-wrap: wrap;
    max-width: 1000px;
    line-height: 1.5;
  }

  #contact-section .social-media {
    text-decoration: none;
    color: var(--base-100);
    transition: transform 0.2s ease-in;
    display: flex;
    align-items: center;
    font-size: 22px;
  }

  #contact-section .social-media:hover {
    transform: translateY(10px);

  }

  #contact-section .coffee-question {
    color: var(--primary);
    font-size: 25px;
    font-style: italic;
  }

  .social-media .ri {
    padding-left: 5px;
  }

  /*===footer===*/
  footer {
    border-top: 4px solid var(--primary);
    color: var(--base-100);
    font-size: 25px;
    padding: 30px;
  }

/*====mediaqueries===*/
  @media only screen and (width < 700px) {
    h1 {
        font-size: 50px;
    }
    #projects .projects-tile {
        height: 400px;
        width: 100%;
    }
    #projects .projects-tile img {
        object-fit: contain;
    }
  }