* {
    border: 1px solid red;
    box-sizing: border-box;
}
 
 

body {
    margin: 0 3px;
    overflow: hidden;
    min-height: 330vh;
}

  /*=========welcome section========*/
  #welcome-section {
    height: 100vh;
    width: 100%;
    background: repeating-linear-gradient(lightslategray 20%,lightslategray 24%, lightgreen 30%, lightgreen 33%);
    opacity: 0.8;
    line-height: 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
  }
  
  #welcome-section h1 {
    color: rgb(15, 9, 9);
    text-align: center;
    text-shadow: 1px 2px 2px  blue; 
    margin-bottom: 0;
    font-weight: 700;
    font-size: 4rem;
  }
  #welcome-section p {
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
    color: black;
  }
  

  /*============navbar==============*/
  #navbar {
    position: fixed;
    top: 0;
    background-color: rgba(30, 29, 29, 0.7);
    margin: 0 auto;
    width: 100%;
    border-bottom: 8px solid black;
  }
  ul {  
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 8px auto;
    
    
  }
  li {
    list-style: none;
  }
  #navbar a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
  }
  a {
    text-decoration: none;
    color: white;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color:brown
  }
  
  /*==========mediaqueries==========*/
  @media (max-width: 300px){
    body {
      background-color: navy;
      margin: 0;
     
    }
    
    nav {
        padding-left: 0;
    }

    footer a {
        color: white;
        flex-direction: column;
    }
  }