
  main {
    margin-bottom: 10px;
    padding: 0;
  }
  #welcome-section h1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    text-align: center;
    text-shadow: 1px 1px 2px  black; 
    
  }
  
  body {
    margin: 0 3px;
    min-height: 333vh;
    box-sizing: border-box;
    overflow: hidden;
  }
  #welcome-section {
    height: 100vh;
    width: 100%;
    margin-top: -28px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd.newsweek.com%2Fen%2Ffull%2F1737181%2Fman-working-computer.jpg&f=1&nofb=1&ipt=53f8c30784a7c36929417ec7264cc4e2bcc6da06a3ce682ea3b9e05b5184111b&ipo=images");
    background-size: cover;
    opacity: 0.8;
    background-position: top 50px left -32px;
  }
  section {
    margin-top: 0px;
  }
  #navbar {
    position: fixed;
    top: 0;
    background-color: lightblue;
    margin: 0 auto;
    width: 100%;
    border-bottom: 4px solid gold
  }
  ul {  
    display: flex;
  justify-content: space-between;
    width: 440px;
    padding: 0;
    margin: 8px auto;
    
    
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.80rem;
    letter-spacing: 0.3rem;
    
  }
  footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  @media (max-width: 350px){
    body {
      background-color: #c30000;
      margin: 0;
    }
  }